<!DOCTYPE html>
<html lang="en">
    <%- include("./patern/head.ejs") %>
<body>
    <%- include("./patern/navigation.ejs") %>
    <div class="not-found content">
        oops the page not found 😞
    </div>
    <%- include("./patern/footer.ejs") %>
</body>

</html>