<!DOCTYPE html>
<html lang="en">
    <%- include("./patern/head.ejs") %>
<body>
    
    <%- include("./patern/navigation.ejs") %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, libero!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, libero!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, libero!</p>
    </div>
    
    <%- include("./patern/footer.ejs") %>
</body>
</html>